{% extends "walkathon/base.html" %}

{% block title %}Home |{% endblock %}

{% block body %}

<p>Interested in walking? <a href="/walk/register/">Register Today!</a></p>
<p>Want to sponsor somebody? <a href="/walk/sponsor/">Make a pledge!</a></p>

<h2>Recently Registered:</h2>
{% if recent_participants %}
    <ul>
    {% for p in recent_participants %}
    <li><a href="{{p.get_absolute_url}}">{{p.full_name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
<p>Nobody's registered yet!</p>
{% endif %}

<h2>Recent Sponsorships:</h2>
{% if recent_sponsors %}
    <ul>
        {% for s in recent_sponsors %}
        <li><a href="{{s.get_absolute_url}}">{{s.full_name}}</a></li>
        {% endfor %}
    </ul>
{% else %}
<p>Nobody's sponsored anybody yet!</p>
{% endif %}

{% endblock %}
